@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
.book {
    margin-top: 460px;
    position: relative;
    border-radius: 20px;
    width: 220px;
    height: 300px;
    background: url("./paper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background: url("./paper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }
  /* From Uiverse.io by satyamchaudharydev */ 
.lol {
    --bg: #e74c3c;
    --text-color: #fff;
    position: relative;
    width: 270px;
    height: 56px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
  }
  
  .lol:hover {
    opacity: 1;
  }
  
  .lol:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }
/* ----------------------------------------------- */
body{
    background-color: pink;
    font-family: "Lalezar", serif;
}
::-webkit-scrollbar-track{
    color: rgba(142, 11, 79, 0);
}
::-webkit-scrollbar{
    color: rgba(142, 11, 79, 0);
}
::-webkit-scrollbar-thumb{
    color: rgba(142, 11, 79, 0);
}
::-webkit-scrollbar-corner{
    color: rgba(142, 11, 79, 0);
}
::-webkit-scrollbar-track-piece{
    color: rgba(142, 11, 79, 0);
}

.fs{
    color: #00000000;
    background-color: #00000000;
    border: #00000000;
}